<html>
    <head>
        <title>JpALP - Japanese Learning Program</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    </head>
    <body id="main-page">
        <div id="main" class="container-fluid top-intro">
            <div class="top-div">
                <p class="heading1">Welcome to JpALP V2 - Japanese Audio Learning Program</p>
                <p class="heading2">The best Japanese learning app for Mercari</p> 
            </div>   
            <div class="row">
                <div id="add-new" class="col-sm-6" href="#form-bg">
                    <div class="test-button">Add New Words</div>
                </div>
                <div id="test-arena" class="col-sm-6">
                    <div class="test-button">Enter Test Arena</div>
                </div>
            </div>
        </div>
        <div id="form-bg" class="hidden">
            <form action="input" method="POST" id="add-new-word-form">
                <div class="form-group">
                <label for="japaneseWord">Japanese Word</label>
                <input type="text" name="japaneseWord" class="form-control" id="jap" aria-describedby="emailHelp" placeholder="Enter Japanese Word" required>
                <small id="wordhelp" class="form-text text-muted">Enter the new Japanese Word to add into Database</small>
                </div>
                <div class="form-group">
                <label for="englishWord">English Translation</label>
                <input type="text" name="englishWord" class="form-control" id="eng" placeholder="Enter English Translation" required>
                <small id="wordhelp" class="form-text text-muted">Enter the translation for English word in Japanese</small>
                </div>
                <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="examplee6Check1">Check me out</label>
                </div> -->
                <button type="submit" id="form-submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary home">Home</button>
                <br><div class="status"></div>
            </form>
        </div>
        <div id="output-audio" class="hidden">
            <div class="msg heading1"></div>
            <!-- <div class="timer hidden" id="countdown">
                <img src="/media/timer.gif">
            </div> -->
            <div class="bottom">
                <button type="button" style="color: white;background-color: black;position: relative;margin-left: 35vmin;" class="btn btn-secondary home">Home</button>
            </div>
            <audio src="" id="audio" class="hidden"></audio>
        </div>
    </body>
    <script src="/js/index.js"></script>
</html>