<html>
    <head>
        <title>Basic Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color: #e6f2ff;">
        <div id="form-bg">
            <form>
                <div class="form-group">
                <label for="japaneseWord">Japanese Word</label>
                <input type="text" class="form-control" id="jap" aria-describedby="emailHelp" placeholder="Enter Japanese Word">
                <small id="wordhelp" class="form-text text-muted">Enter the new Japanese Word to add into Database</small>
                </div>
                <div class="form-group">
                <label for="englishWord">English Translation</label>
                <input type="text" class="form-control" id="eng" placeholder="Enter English Translation">
                <small id="wordhelp" class="form-text text-muted">Enter the translation for English word in Japanese</small>
                </div>
                <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="examplee6Check1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>